@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BusShuttle App</h1>
    <div class="btn-group" role="group">
        <a class="btn btn-primary" asp-controller="Home" asp-action="ManagerPage">Manager Page</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="DriverPage">Driver Page</a>
     </div>
</div>
